<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>CoolComplex</display-name>
	<servlet>
		<servlet-name>complex</servlet-name>
		<servlet-class>com.github.masalthunlass.complex.controller</servlet-class>
		<init-param>
			<param-name>sdb_user</param-name>
			<param-value>sdb</param-value>
		</init-param>
		<init-param>
			<param-name>sdb_password</param-name>
			<param-value>password</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>complex</servlet-name>
		<url-pattern>/complex</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/default.jsp</welcome-file>
	</welcome-file-list>
</web-app>